<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Job Website</title>
    <style>
        body{
            font-family: "Nunito", sans-serif;
            color: #fff;
            font-size: 1.5rem;
            letter-spacing: .2rem;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1rem;
            background: url('/static/images/background.jpg');
            background-size: cover;
          
        }
    </style>
  </head>